In [1]:
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np
import pandas as pd

In [23]:
salary = pd.read_csv('ceo_data_pay_merged_r3000.csv')
salary.rename(columns={
    'ticker':'Ticker',
    'company_name': 'Company Name',
    'median_worker_pay': 'Median Salary',
    'pay_ratio': 'Ratio',
    'ceo_name' : 'CEO',
    'salary' : 'CEO Salary',
    'industry' : 'Industry'
})

,Unnamed: 0,Ticker,Company Name,Median Salary,Ratio,CEO,CEO Salary,Industry
0,0,ADV,"Advantage Solutions, Inc.","$14,328",721:1,Tanya Domier,"$10,330,444",Communication%20Services
1,1,AMC,"AMC Entertainment Holdings, Inc.","$9,386","2,015:1",Adam Aron,"$18,909,546",Communication%20Services
2,2,AMCX,AMC Networks Inc.,"$64,652",185:1,Matthew Blank,"$6,967,220",Communication%20Services
3,3,ATEX,Anterix Inc.,"$300,000",24:1,Robert Schwartz,"$6,532,403",Communication%20Services
4,4,ATNI,"ATN International, Inc.","$54,116",62:1,Michael Prior,"$3,379,851",Communication%20Services
...,...,...,...,...,...,...,...,...
2170,2170,VIA,"Via Renewables, Inc.","$75,782",30:1,W. Maxwell III,"$2,247,615",Utilities
2171,2171,VST,Vistra Corp.,"$110,183",91:1,Curtis Morgan,"$10,075,627",Utilities
2172,2172,WEC,"WEC Energy Group, Inc.","$122,530",151:1,J. Fletcher,"$18,481,871",Utilities
2173,2173,WTRG,"Essential Utilities, Inc.","$105,003",51:1,Christopher Franklin,"$5,339,716",Utilities
2174,2174,XEL,Xcel Energy Inc.,"$122,532",95:1,Robert Frenzel,"$8,350,364",Utilities

In [25]:
salary.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'